{% extends 'users/base_users.html' %}



{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="row justify-content-center">Sign up</h2>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-primary ">Create an account</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    Already have an account? <a href="{% url 'login' %}">Log in</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}